// Here you can add other styles

.container {
    background-color: #fff;
  //  height: 350px;
    width: 100%;
}

.noContainer {
    background-color: initial;
}

body .p-multiselect .p-multiselect-label {
    margin-bottom: 0
}

.submitbtn {
    float: right;
}

.toast {
    top : 75px !important;
    right: 5px !important;
}

.center {
    text-align: center;
}

.MuiOutlinedInput-input {
    padding: 14.5px 39px !important;
}

.button-center {
    margin: 0 auto;
    width: unset !important;
}

.backgroundImage {
    background-image: url('/assets/img/avatars/fem.jpg');
    background-position: center;
}

.card {
    opacity: .8 !important;
}

.login-Logo {
    height: auto;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body .p-fluid .p-inputgroup .p-button.p-button-icon-only {
    display: none !important;
}

.hidden {
    display: none;
}